<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<Partial name="~/Views/Shared/PartialViews/_Seo.cshtml" />

	<Partial name="~/Views/Shared/PartialViews/_OpenGraph.cshtml" />

	<Partial name="~/Views/Shared/PartialViews/_FavoriteIcon.cshtml" />

	<Partial name="~/Views/Shared/PartialViews/_StyleSheets.cshtml" />

	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<Partial name="~/Views/Shared/PartialViews/_Header.cshtml" />

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<Partial name="~/Views/Shared/PartialViews/_Footer.cshtml" />

	<Partial name="~/Views/Shared/PartialViews/_ScriptLinks.cshtml" />

	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>