<title>@(ViewData[nameof(Resources.DataDictionary.Title)])</title>

<meta name="author" content="Ehsan Shahsevani" />
<meta name="description" content="A simple ASP.NET Core MVC Template for new projects." />
