@{
	string title =
		Resources.InitialData.Pages.Home;

	ViewData[nameof(Resources.DataDictionary.Title)] = title;
}

<div class="text-center ltr">

	<h1>Wellcome to [ Home ] Page</h1>

	<h3 class="text-danger">
		@{
			string? value = ViewData["Test"] as string;
		}

		Text Data In View Data: <span class="text-dark">'@(value)'</span>
	</h3>

	<section-form-buttons>
		<button-create></button-create>
	</section-form-buttons>

</div>

@section Styles {

	<style>
		h1 {
			font-size: 31px;
			font-weight: bold;
		}
	</style>

}

@section Scripts {

	<script>
		alert('hi')
	</script>

}