@{
	ViewData[nameof(Resources.DataDictionary.Title)]
		= Resources.InitialData.Pages.Home;
}

<div class="text-center">
	<h1>Home Page</h1>
</div>

@section Scripts {

	<script>
		alert('hi')
	</script>

}

@section Styles {

	<style>
		h1 {
			color: tomato;
			font-size: 13px;
			font-weight: bold;
		}
	</style>

}