@{
	string title = Resources.InitialData.Pages.Home;
	ViewData[nameof(Resources.DataDictionary.Title)] = title;
}

<div class="text-center">
	
	<h1>Wellcome to [ Home ] Page</h1>

	<h3>
		@{
			string key = nameof(Resources.DataDictionary.FullName);
		}

		FullName In View Data: @( ViewData[key] )
	</h3>

</div>

@section Scripts {

	<script>
		alert('hi')
	</script>

}

@section Styles {

	<style>
		h1 {
			color: tomato;
			font-size: 31px;
			font-weight: bold;
		}
	</style>

}